/* Estilos generales */
.barraP {
    margin: 3px;
    padding: 3px;

}
.fondo{
    margin: 0px;
    padding: 10px;
    font-size: 12px;
}
.fuente1 {
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
img{
    object-fit: contain;
}
#image{
    width: 100%;
}
.logo-grid img {
    width: 100%;
  }
/* Estilos del botón de inicio de sesión */
.boton-login {
    position: fixed;
    left: 38px;
    bottom: 8px;
    text-align: center;
    background-color: #c7f2a7; /* Color de fondo del botón */
    color: #000000; /* Color del texto del botón */
    padding: 5px 10px; /* Espaciado interno del botón */
    text-decoration: none;
    border-radius: 10px; /* Ajusta los radios de las esquinas superiores */
    font-size: 15px;
    font-family: Verdana, sans-serif;
}

.boton-login:hover {
    background-color: #119da4; /* Color de fondo del botón al pasar el ratón */
}
